*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}

.Photographer{
    background: url('../images/photo.jpg') no-repeat scroll center center / cover;
    position: relative;
    z-index: 1;
    height: 100vh;
    
}

.Photographer::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(7, 8, 8, 0.8);
    z-index: -1;
}


/******************************/
/********* HEADER CSS  *******/
/****************************/ 




/******************************/
/********* MAIN CSS  *******/
/****************************/ 

/* Countdown Days Start */
.counter li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    padding: 20px;
    align-items: center;
    margin:0px 18px;
    color: #fff;
}
  
  
.counter li span {
    display: block;
    font-size: 2.5rem;
    border-bottom: 2px solid white;
    margin: auto;
    font-weight: 700;
    padding-top: 60px;
}
  
.Days-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    background: transparent;
    
}

/* Logo Start */
.image-logo{
    text-align: center;
}

.image-logo img {
    height: 60px;
}

/* LAUNCHING OUR NEW WEBSITE Start */

.Launching h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    color: #fff;
    padding-top: 22px;
    padding-bottom: 15px;
}

.website{
    font-weight: 700;
}

.Launching p{
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 0;
}

/* Arrow Start */
.arrow-down {
    font-size: 37px;
    padding: 22px 0px;
    text-align: center;
    color: white;
}

/* Button Start */

.Form-Button{
    text-align: center;
    margin-bottom: 20px;
}

.Notify-me, a.Notify-me {
    color: #333;
    background-color: #fff;
}

.button, a.button {
    display: inline-block;
    margin: 0 5px;
    padding: 14px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0;
}

.button.show-info, a.button.show-info {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    text-decoration: none;
}

.button.show-info:hover, .button.show-info:active, .button.show-info:focus, a.button.show-info:hover, a.button.show-info:active, a.button.show-info:focus {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
}


/******************************/
/********* FOOTER CSS  *******/
/****************************/ 